<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <p th:text="${jobs.size()} + ' Jobs in List'"></p>
    <table class="job-listing" th:each="job : ${jobs}">
        <tr th:each="field : ${job}">
            <td th:text="${field.key}"></td>
            <td th:text="${field.value}"></td>
        </tr>
    </table>

</div>

</body>
</html>

