<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <p th:if ="${jobs} and ${jobs.size()}" th:text="${jobs.size()} + ' Jobs in List'"></p>
    <p th:unless="${jobs} and ${jobs.size()}">No Jobs!</p>
    <table class="job-listing" th:each="job : ${jobs}">
        <tr th:each="column : ${job}">
            <td th:text="${column.key}"></td>
            <td th:text="${column.value}"></td>
        </tr>
    </table>
</div>

</body>
</html>